<!-- <div class="jumbotron text-center">
    <h1>Just4NRI</h1>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Property Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>

      <div class="col-sm-4">
        <h3>Religious Services/h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Other Services</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div> -->
  

  <div class="jumbotron text-center">
    <h1>Just4NRI</h1>
    
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Property Services</h3>
        <p>NRI can buy property in India,using our portal.NRI can buy either a residental property or a commercial property in India.</p>
      </div>
      <div class="col-sm-4">
        <h3>Religious Services</h3>
        <p>NRI's are free to invite Hindu priest and build temples</p>
        
      </div>
      <div class="col-sm-4">
        <h3>Other Services</h3>        
        <p>NRI's can request for any other services apart from the services offered in this portal.</p>
        <p>We are ready to serve you...</p>
      </div>
    </div>
  </div>
  