<p>About us page is working</p>

<!--Section: Content-->
<section id="about" class="dark-grey-text">

    <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">

            <div class="view">
                <img src="/assets/company.jpg" class="img-fluid" alt="smaple image">
            </div>

        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div>

                <h3 class="font-weight-bold mb-4">About US</h3>

                <p>"A much needed lifeline for NRI having work in Mumbai INDIA"
                    "One Point Solution for all your needs in Mumbai INDIA"
                    
                    While we take care of your work in INDIA you can sit back and relax. The SERVICES 2 NRI has been set up keeping this very motto in mind. We at services2nri.com along with our team of trained staff, extend a whole range of essential services to all who are in need of them.
                    
                    S2NRI recognizes the significant role that you as Global Indians abroad play in Nation building, and your part in shaping the global perception of the people of India. Such genuine contributions command the respect and honour of the whole nation. We know first hand what an NRI is looking for in terms of service and quality. There are times when a particular task maybe urgent / important and NRI's look for assistance. We deem it our duty to give you "Peace of Mind" while you are in Foreign Land, by taking care of your entire task here in INDIA. </p>

                <!-- <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button> -->

            </div>
        </div>
    </div>

</section>
<!--Section: Content-->
