<!-- <p>faq works!</p> -->



<div class="container">
    <div class="row">
      <!-- <div class="col-sm-4">
        <h2>Column 1</h2> -->
       
        <div class="container-fluid">
            <h2>Frequently Asked Questions(FAQ)</h2>
            <div class="accordion">
                <div class="icon"></div>
                <h5>What are the services offered by Just4NRI?</h5>
            </div>
            <div class="panel">
                <p>Just4NRI portal currently offers services like property,religious and other services.</p>
            </div>
        
            <div class="accordion">
                <div class="icon"></div>
                <h5>Does Just4NRI sell cell phones?</h5>
            </div>
            <div class="panel">
                <p>currently we are not selling cell phones,in future will try to implement that too.</p>
            </div>
        
            <div class="accordion">
                <div class="icon"></div>
                <h5>How to apply for an Indian Passport?</h5>
            </div>
            <div class="panel">
                <p>Just4NRI portal currently offers services like property,religious and other services.</p>
            </div>
        
            <!-- <div class="accordion">
                <div class="icon"></div>
                <h5>Can NRI acquire residential property  under the general permission available?</h5>
            </div>
            <div class="panel">
                <p>Yes. A person resident outside India can hold immovable property acquired by way of inheritance from a person resident in India
                     as per the provisions of Section 6(5) of the Foreign Exchange Management Act, 1999.</p>
            </div>
        
            <div class="accordion">
                <div class="icon"></div>
                <h5>What kind of properties NRI can't buy?</h5>
            </div>
            <div class="panel">
                <p>An NRI can't usually buy agricultural land,plantation property or farmhouse in India.Proposal to buy 
                 such a land have to be specifically approved by RBI,in consultation with government of India.</p>
            </div> -->
        
        </div>
        

      </div>

<!-- <div class="container-fluid">
    <h2>Frequently Asked Questions(FAQ)</h2>
    <div class="accordion">
        <div class="icon"></div>
        <h5>What are the services offered by Just4NRI?</h5>
    </div>
    <div class="panel">
        <p>Just4NRI portal currently offers services like property,religious and other services.</p>
    </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>Does Just4NRI sell cell phones?</h5>
    </div>
    <div class="panel">
        <p>currently we are not selling cell phones,in future will try to implement that too.</p>
    </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>How to apply for an Indian Passport?</h5>
    </div>
    <div class="panel">
        <p>Just4NRI portal currently offers services like property,religious and other services.</p>
    </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>Can NRI acquire residential property  under the general permission available?</h5>
    </div>
    <div class="panel">
        <p>Yes. A person resident outside India can hold immovable property acquired by way of inheritance from a person resident in India
             as per the provisions of Section 6(5) of the Foreign Exchange Management Act, 1999.</p>
    </div>

    <div class="accordion">
        <div class="icon"></div>
        <h5>What kind of properties NRI can't buy?</h5>
    </div>
    <div class="panel">
        <p>An NRI can't usually buy agricultural land,plantation property or farmhouse in India.Proposal to buy 
         such a land have to be specifically approved by RBI,in consultation with government of India.</p>
    </div>

</div> -->
